* {
	margin:0;
	padding:0;
}

body {
	height:100vh;
	width:100%;	
	background-image:url("bg.jpg");
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	font-family: 'Open Sans', sans-serif;
	color:white;
}

.nabnab {
	font-size: 75px;
	color:white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
#pranab {
	width:250px;
	height:250px;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    border-radius: 50%;
}

#pranab:hover {
			opacity:0.97;
	   }

	   .just {
	   	font-size:25px;
	   }
	   p {
	   	font-size: 50px;
	   	color:white;
	   }

	   #hi {
	   	text-decoration:none;
	   	color:#FFF;
	   }

	   #hi:hover {
	   	color:black;
	   }


	   #github {
	   	height:70px;
	   	width:70px;
	   }

	   #github:hover {
	   	 opacity:0.73;
	   }

	   h5 {

	   	font-size:20px;
	   }

	   .feed {
	   	font-weight: 300;
	   	margin-top:30px;
	   }

	   .hub {
	   	font-weight: 300;
	   }
	    @media only screen and (max-width: 320px) {
	    	.nabnab {
	    		font-size:50px;
	    	}

	    	h5 {
	    		font-size:22px;
	    	}
	    }